# Instructions:
#     Add each device as a dictionary object in the Device Section.
#
#     Configuration options are as follows:
#
#         host:<IP|FQDN>
#         username:acos user
#         password:user password
#         status: can be configued
#         autosnat: Source address translation is configured on the VIP.
#         api_version: API version
#         v_method: Choices in this version(ADP, LSI)
#         MAX LSI: Number of objects that can be added to system range(512-10k+) and is model dependant.
#         MAX ADP: 128 for all models except vThunder which is 32
#
#         Max L3V paritions for the device(currently not supported with the community version),
#         MAX L3V is modules specific 32-1023
#         'use_float': utilize the floating address of the member and not the actual interface ip.
#         "method": Placement policy. right now hash is th only thing supported. This is utilized if there ar more than one
#         acos device configured.

[a10networks]
#ax1 = {"name":"ax1", "host": "10.10.100.20", "port": "8443", "protocol": "https",
#               "username": "admin",
#               "password": "a10", "status": "1", "autosnat": "True",
#         "api_version": "2.1", "v_method": "LSI",
#               "max_instance": "5000" , "use_float": "True", "method": "hash"}
#ax2 = {"name":"ax2", "host": "10.10.100.21", "port": "443", "protocol": "https",
#               "username": "admin",
#               "password": "a10", "status": "1", "autosnat": "True",
#        "api_version": "3.0", "v_method": "LSI",
#               "max_instance": "5000" , "use_float": "False", "method": "hash"}
