hostname vThunder
clock timezone America/Shiprock
interface management
 ip address 10.10.100.20 255.255.255.0
 ip default-gateway 10.10.100.2
interface ethernet 1
 ip address 10.10.102.20 255.255.255.0
interface ethernet 2
 disable
web-service server
web-service port 8080
web-service secure-server
web-service secure-port 8443
end
